# Created by .ignore support plugin (hsz.mobi)
createWhiteBoard/target/
joinWhiteboard/target/
whiteboardServer/target/
.idea
*.iml

createWhiteBoard/.classpath
createWhiteBoard/.project
createWhiteBoard/.settings/
joinWhiteboard/.classpath
joinWhiteboard/.project
joinWhiteboard/.settings/
whiteboardServer/.project
whiteboardServer/.settings/
